:root {
  --btn-primary-color: rgb(33, 231, 134);
  --secondary-color: rgb(20, 27, 34);
  --article-bg-color: rgba(255, 255, 255, 0.05);
  --main-background-color: rgb(13, 13, 17);
  --text-color: rgb(194, 195, 197);
  --inactive-color: rgb(136, 139, 142);
  --text-font: "Poppins", "Helvetica Neue", Arial, sans-serif;
  --btn-header-font: "Bakbak One", "Arial Black", Arial, sans-serif;
  --header-height: 108px;
}

/********************** General css **********************************/

* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: rgb(4, 11, 17);
  font-family: "Bakbak One", "Arial Black", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* section {
  border: 2px solid red;
} */

.container {
  /* padding: 1rem max(1rem, (50% - 585px)); */
  padding: 0 20px;
}

.wrapper {
  /* border: 2px solid green; */
  max-width: 1410px;
  width: 100%;
  margin: auto;
}

/**************** Buttons styles ****************/

button {
  cursor: pointer;
}

.btn-basic {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 1.5;
  gap: 8px;
  text-transform: uppercase;
}

.btn-media {
  display: inline-flex;
  background-color: rgb(88, 101, 242);
}

.btn-light {
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: var(--btn-primary-color);
  color: var(--secondary-color);
  font-family: var(--btn-header-font);
}

.btn-border {
  border: 2px solid var(--btn-primary-color);
  background-color: inherit;
  color: rgb(255, 255, 255);
  font-family: var(--btn-header-font);
}

.btn-border:active {
  background-color: rgba(33, 231, 134, 0.2);
  transition: all 0.3s ease-in-out;
}

/* Text styles */
.highlighted-text {
  color: var(--btn-primary-color);
}

.secondary-heading {
  font-size: 44px;
  line-height: 1.27;
  text-align: center;
  text-transform: uppercase;
}

.main {
  margin-top: var(--header-height);
}

/********************* Header styles *****************************/

.header {
  display: flex;
  background-color: rgb(4, 11, 17);
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-block {
  display: flex;
  align-items: center;
  font-size: 32px;
  line-height: 1.31;
  gap: 0 16px;
  text-transform: uppercase;
}

/************* Header navigation styles *******************/
.nav-menu {
  max-width: 709px;
  width: 100%;
}

.nav-menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.nav-menu-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.nav-menu-item:hover {
  border-bottom: 1px solid var(--btn-primary-color);
}

.nav-dropdown-item {
  position: relative;
}

.arrow-down {
  vertical-align: middle;
  margin-left: 4px;
  padding-bottom: 4px;
}

.dropdown-content {
  display: none;
  width: 221px;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 18px;
  padding: 16px 20px;
  background-color: var(--secondary-color);
  box-shadow: 0 10px 25px rgba(71, 92, 133, 0.1);
  z-index: 1;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 12px;
  border: 10px solid transparent;
  border-bottom-color: var(--secondary-color);
}

.nav-dropdown-item:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 10%;
  margin-bottom: 14px;
  text-transform: capitalize;
}

.dropdown-item-link:hover {
  color: var(--btn-primary-color);
}

.btn-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.darkmode-toggle + .switch-mode::before {
  display: inline-block;
  text-align: center;
  line-height: 60px;
  content: url("../img/icons/switch.svg");
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.darkmode-toggle:checked + .switch-mode::before {
  content: url("../img/icons/switch-dark.svg");
  background-color: var(--btn-primary-color);
}

/* ************************** */

.btn-media-header {
  display: flex;
  border: 2px solid transparent;
  background-color: var(--secondary-color);
  transition: color 0.3s ease-in-out;
}

.btn-media-header:active {
  background-color: rgb(35, 46, 57);
  border: 2px solid var(--secondary-color);
}

/**************** Hero section **************************/
.hero-section {
  background-image: url("../img/bg-s/star-big.svg"),
    linear-gradient(to top, rgb(4, 11, 17), rgba(4, 11, 17, 0)),
    radial-gradient(
      ellipse at center,
      rgba(48, 113, 101, 0.3) 10%,
      rgba(20, 27, 34, 0.3) 70%
    );
  background-size: 496px auto, cover, 950px 278px;
  background-position: bottom -50px right -170px, bottom, top -100px left -200px;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}

.hero-box {
  display: flex;
  align-items: center;
}

.hero-content {
  width: 750px;
  padding-top: 141px;
  padding-bottom: 191px;
}

.hero-title {
  width: inherit;
  font-size: 72px;
  line-height: 1.11;
  text-transform: uppercase;
}

.hero-text {
  font-family: var(--text-font);
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0 24px;
}

.hero-text::first-letter {
  text-transform: capitalize;
}

.hero-counter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.4fr;
  grid-column-gap: 79px;
  grid-row-gap: 8px;
  width: 395px;
}

.hero-counter1 {
  grid-area: 1 / 1 / 2 / 2;
}

.hero-counter2 {
  grid-area: 2 / 1 / 3 / 2;
}

.hero-counter3 {
  grid-area: 1 / 2 / 2 / 3;
}

.hero-counter4 {
  grid-area: 2 / 2 / 3 / 3;
}

.hero-number {
  font-size: 44px;
  line-height: 1.27;
  text-shadow: 0px 4px 13px rgba(255, 255, 255, 0.4);
}

.hero-description {
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 1.63;
  color: var(--text-color);
}

.hero-description::first-letter {
  text-transform: capitalize;
}

.hero-btn {
  display: flex;
  margin-top: 48px;
  gap: 24px;
}

.hero-image {
  position: relative;
  right: 180px;
}

/*******************  nft-cards section ****************/

.nft-cards {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow-x: auto;
  white-space: nowrap;
}

.nft-card {
  width: 330px;
  padding: 20px;
  flex-basis: 330px;
  flex-shrink: 0;
  background-color: var(--article-bg-color);
}

.nft-card-title {
  padding-top: 10px;
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
  text-transform: uppercase;
}

/********************* About section ***********************/

.about-section {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: var(--main-background-color);
}

.about {
  padding-bottom: 12px;
}

.about-description {
  margin: 16px auto 60px;
  font-family: var(--text-font);
  color: var(--text-color);
  width: 930px;
}

.about-description::first-letter {
  text-transform: capitalize;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style-position: inside;
  text-align: left;
  margin-bottom: 40px;
}

.about-list-item {
  padding: 30px;
  background-color: var(--secondary-color);
  width: 570px;
  height: 224px;
  position: relative;
}

.about-list-item::marker {
  content: counter(list-item, decimal-leading-zero);
  color: var(--secondary-color);
  font-size: 80px;
  line-height: 1.2;
  text-shadow: 0 0 1px var(--btn-primary-color);
}

.hover-effect::before,
.hover-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 3px;
  border-style: solid;
  pointer-events: none;
}

.hover-effect::before {
  border-image: linear-gradient(
      to bottom right,
      rgba(33, 231, 134, 1) 0%,
      rgba(33, 231, 134, 0) 20%
    )
    1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hover-effect::after {
  border-image: linear-gradient(
      to top left,
      rgba(33, 231, 134, 1) 0%,
      rgba(33, 231, 134, 0) 20%
    )
    1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hover-effect:hover::before,
.hover-effect:hover::after {
  opacity: 1;
}

.about-list-card {
  position: relative;
  bottom: 48px;
}

.about-list-title {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.about-list-description {
  font-family: var(--text-font);
  color: var(--text-color);
  width: 510px;
}

.about-list-description::first-letter {
  text-transform: capitalize;
}

/******************* Workflow section ********************/

.workflow {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
}

.workflow-cards {
  margin-top: 60px;
  display: flex;
  gap: 30px;
  text-align: center;
  list-style: none;
}

.workflow-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: var(--secondary-color);
  padding: 30px 30px 26px;
  width: 330px;
  height: 210px;
  counter-increment: count list-item;
  position: relative;
}

.workflow-card-text {
  font-size: 24px;
  line-height: 1.33;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.workflow-card-title {
  font-size: 22px;
  line-height: 1.36;
  color: var(--btn-primary-color);
  text-transform: uppercase;
}

.workflow-card-title::before {
  content: "step " counter(count);
}

.wc-1 {
  background-image: url("../img/img-workflow/icon1.svg");
  background-repeat: no-repeat;
  background-position: top 10px center;
}

.wc-2 {
  background-image: url("../img/img-workflow/icon2.svg");
  background-repeat: no-repeat;
  background-position: top 15px center;
}

.wc-3 {
  background-image: url("../img/img-workflow/icon3.svg");
  background-repeat: no-repeat;
  background-position: top 10px center;
}

.wc-4 {
  background-image: url("../img/img-workflow/icon4.svg");
  background-repeat: no-repeat;
  background-position: top 10px center;
}

/************************ Road Map section ***********************/

.roadmap-section {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: var(--main-background-color);
}

.roadmap-card {
  display: flex;
  column-gap: 79px;
  align-items: center;
  background-color: var(--article-bg-color);
  padding: 48px 43px;
  margin-top: 60px;
  margin-bottom: 24px;
}

.roadmap-img-box {
  width: 715px;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.roadmap-img-1 {
  grid-area: 1 / 1 / 3 / 2;
}
.roadmap-img-2 {
  grid-area: 1 / 2 / 2 / 3;
}
.roadmap-img-3 {
  grid-area: 2 / 2 / 3 / 3;
}

.roadmap-card-title {
  font-size: 36px;
  line-height: 1.22;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.roadmap-list {
  margin-bottom: 30px;
}

.roadmap-items {
  display: flex;
  column-gap: 8px;
  font-family: var(--text-font);
  color: var(--text-color);
  text-transform: capitalize;
}

.roadmap-items:not(:last-child) {
  margin-bottom: 20px;
}

.roadmap-items::before {
  content: url("../img/icons/phase-icon.svg");
}

/******** Phase line **********/

.roadmap-nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.btn-arrow {
  stroke: var(--text-color);
  stroke-width: 4;
  cursor: pointer;
}

.btn-arrow:hover {
  stroke: var(--btn-primary-color);
}

.btn-arrow-reverse {
  transform: rotate(180deg);
}

.roadmap-nav-item-list {
  display: flex;
  width: 90%;
  position: relative;
  top: 12px;
  list-style: none;
  counter-increment: count (list-item);
}

.roadmap-nav-item {
  height: 2px;
  background-color: rgb(67, 67, 67);
  width: 100%;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--text-color);
  text-align: center;
  cursor: pointer;
}

.roadmap-nav-item.active .elipse-default {
  fill: var(--btn-primary-color);
}

.roadmap-nav-item.active {
  color: rgb(255, 255, 255);
}

.roadmap-nav-item.active::before {
  content: "";
  display: block;
  width: 50%;
  border-top: 2px solid var(--text-color);
}

/* For future phase change */

/* .roadmap-nav-item.passed::before {
  content: "";
  width: 100%;
} */

.elipse-default {
  position: relative;
  top: -15px;
  fill: #888b8e;
}

.roadmap-phase-name {
  position: relative;
  top: -15px;
}

.roadmap-phase-name::before {
  content: "phase " counter(list-item);
}

/************************* Team section ************************/

.team-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
}

.team-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.team-card {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 40px 20px;
  width: 330px;
  height: 339px;
  position: relative;
}

.team-name {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 31px;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.team-title {
  font-family: var(--text-font);
  color: var(--text-color);
  margin-bottom: 26px;
  text-transform: capitalize;
}

.team-connect-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/*********************** Partners section ***********************/
.partners {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
}

.partners-cards {
  margin-top: 58px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.partners-card-item {
  width: 210px;
  height: 100px;
  padding: 20px 24px;
}

.partner-banner {
  display: block;
}

.banner-bg {
  background-color: var(--secondary-color);
}

/************************** FAQs section ***********************/

.faq-box-section {
  padding-top: 50px;
  background-color: var(--main-background-color);
  position: relative;
  height: 490px;
}

.faq-title {
  margin-bottom: 60px;
}

.faq-box {
  position: relative;
  /* position: absolute; */
  /* top: 50px; */
  top: 0;
  left: 0;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.faqs-card {
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 30px 20px;
  width: 930px;
}

.faqs-card:not(:last-child) {
  margin-bottom: 24px;
}

.faqs-name {
  font-size: 24px;
  line-height: 1.25;
  padding-bottom: 16px;
  color: rgb(194, 195, 197);
  list-style: none;
}

.faqs-name::first-letter,
.faqs-content::first-letter {
  text-transform: capitalize;
}

.faqs-name::after {
  content: url("../img/icons/plus.svg");
  float: right;
}

.faqs-card[open] .faqs-name {
  color: rgb(255, 255, 255);
}

.faqs-card[open] .faqs-name::after {
  content: url("../img/icons/minus.svg");
}

.faqs-content {
  font-family: var(--text-font);
  color: var(--text-color);
  border-top: 1px solid rgb(67, 67, 67);
  padding-top: 16px;
}

/*********************** Homepage Footer ***********************/

/******************* Homepage call-action section **************/

.cta-homepage {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
  /* padding-top: 50px; */
  padding-top: 350px;
}

.cta-homepage-text {
  font-family: var(--text-font);
  color: var(--text-color);
  margin-top: 8px;
  margin-bottom: 40px;
}

.cta-homepage-text::first-letter {
  text-transform: capitalize;
}

.cta-homepage-btns {
  display: flex;
  justify-content: center;
  column-gap: 37px;
  margin-bottom: 40px;
}

/* Homepage newsletter subcribtion form */

.home-newsletter {
  margin: 0 auto;
  display: flex;
  width: 690px;
}

.site-newsletter {
  width: 441px;
}

.site-newsletter-fieldset {
  border: none;
}

.site-newsletter-wrapper {
  display: flex;
}

.newsletter-field {
  padding: 14px 24px;
  background-color: rgba(194, 195, 197, 0.15);
  border: 1px solid transparent;
  width: 100%;
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.63;
}

.field-validation:valid:not(:placeholder-shown) {
  border: 1px solid var(--btn-primary-color);
}

.field-validation:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

/* .newsletter-field:is(:-webkit-autofill, :autofill) {
  background-color: rgba(194, 195, 197, 0.15);
} */

input::placeholder {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.63;
  opacity: 0.6;
}

input::placeholder::first-letter {
  text-transform: capitalize;
}

/****************** social-networks Footer *********************/

.social-networks-items {
  display: inline-flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.network-item {
  /* margin: 0 auto; */
  background-color: rgba(194, 195, 197, 0.15);
  width: 50px;
  height: 50px;
  padding: 12px 10px;
}

/******************** footer-nav section *********************/

.footer-border {
  border-top: 1px solid rgb(67, 67, 67);
  padding: 19px 0;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-logo-box {
  display: flex;
  align-items: center;
  gap: 60px;
}

.footer-logo {
  display: flex;
  font-size: 22px;
  line-height: 1.36;
  gap: 16px;
  text-transform: uppercase;
}

.footer-copyright-text {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.57;
}

/************************ Homepage Footer Pages ******************/

.nav-pages-items {
  display: flex;
  column-gap: 47px;
}

.nav-pages-item {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.57;
  text-transform: capitalize;
}

/************************* CATALOG Page **************************/

/******************* Breadcrumbs ***************************/

.breadcrumbs {
  background-color: var(--secondary-color);
  padding-top: 77px;
  padding-bottom: 77px;
}

.breadcrumbs-list {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
}

.breadcrumbs-item {
  padding: 0 8px;
}

.inactive-link {
  color: var(--inactive-color);
  border-right: 2px solid var(--inactive-color);
}

/********** Catalog NFT Collection ***************************/

.nft-collection-section {
  background-color: var(--main-background-color);
  padding-top: 100px;
  padding-bottom: 200px;
}

.nft-collection {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 80px;
}

.catalogpage-content {
  width: 100%;
}

.nft-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.nft-collection-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/*********** Search form ***********/

.search-form {
  background-color: var(--secondary-color);
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 20px 9px 24px;
}

.search-field {
  all: unset;
  height: 100%;
  width: 100%;
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 1.63;
  color: var(--text-color);
}

.search-btn {
  all: unset;
  cursor: pointer;
}

/************ Current filter display ********************/

.current-filters-block {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  margin-bottom: 40px;
  background-color: var(--secondary-color);
}

.current-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 9px 13px 9px 20px;
  border: 1px solid rgb(65, 69, 74);
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 1.63;
  color: rgb(247, 247, 247);
  text-transform: capitalize;
}

.close-icon {
  stroke: rgb(247, 247, 247);
  transform: rotate(45deg);
  stroke-width: 2px;
}

.current-filters-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.57;
  text-transform: capitalize;
}

.current-filters-btn:hover {
  opacity: 0.6;
}

/************ Aside filter form catalog section ******************/

.nft-filter {
  display: flex;
  background-color: var(--secondary-color);
  width: 280px;
  margin-bottom: 12px;
}

.nft-filter-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 1.4;
  padding: 16px 12px;
  list-style: none;
  text-transform: uppercase;
}

.nft-filter-name::after {
  background-image: url("../img/icons/plus.svg");
  background-size: 24px 24px;
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nft-filter[open] .nft-filter-name::after {
  background-image: url("../img/icons/minus.svg");
}

.nft-filter-list {
  padding: 20px 23px;
  border-top: 1px solid rgb(67, 67, 67);
  font-family: var(--text-font);
  font-size: 14px;
  line-height: 1.57;
  color: var(--text-color);
  text-transform: capitalize;
}

.nft-filter-item {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.catalog-checkbox + label::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
  text-align: center;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--text-color);
  border-radius: 2px;
}

.catalog-checkbox:checked + label::before {
  content: url("../img/icons/checked.svg");
  background-color: var(--btn-primary-color);
  line-height: 15px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*************** Call Action section - Coloful **************/

.cta-section {
  background-color: var(--secondary-color);
}

.call-action-catalog {
  margin-bottom: -40px;
  background-color: var(--secondary-color);
  position: relative;
  top: -100px;
  padding: 40px 0 48px;
  border-radius: 8px;
  background-image: url("../img/bg-s/star-big.svg"),
    url("../img/bg-s/star-big.svg"), url("../img/bg-s/star-big.svg"),
    linear-gradient(to left, rgb(35, 51, 222), rgb(10, 190, 102));
  background-repeat: no-repeat;
  background-size: 321.2px auto, 255.87px auto, 137.02px auto, cover;
  background-position: top -60px right -60px, bottom -60px left -60px,
    top left 350px, center;
  background-blend-mode: screen;
}

.catalog-cta-text {
  margin-top: 4px;
  margin-bottom: 22px;
  text-align: center;
  font-family: var(--text-font);
  color: rgb(247, 247, 249);
}

.catalog-cta-text::first-letter {
  text-transform: capitalize;
}

.cta-catbtn-box {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/********************** Catalog Footer *******************/

.catalog-footer {
  background-color: var(--secondary-color);
}

.footer-nftcatalog {
  display: flex;
  gap: 156px;
  justify-content: space-between;
}

.catalog-footer-logobox {
  width: 324px;
}

.footer-cat-logo {
  display: flex;
  gap: 16px;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.catalog-footer-text {
  font-size: 16px;
  line-height: 1.63;
  font-family: var(--text-font);
}

.catalog-footer-text::first-letter {
  text-transform: capitalize;
}

.footer-nav-section {
  display: flex;
  gap: 130px;
  margin-bottom: 43px;
}

/**************** Catalog Sitemap section *******************/

.sitemap-title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sitemap-list:not(:last-child) {
  margin-bottom: 16px;
}

/************** Footer Copyright section in catalog *************/

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(67, 67, 67);
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-media-list {
  display: flex;
  gap: 40px;
}

.network-item-cat {
  width: 20px;
  height: 20px;
}

/***************** CATALOG ITEM PAGE *****************************/

/***************** NFT card item ***********************/

.nftcard-box {
  padding-top: 100px;
  background-color: var(--main-background-color);
}

.card-details {
  display: flex;
  position: relative;
  /* align-items: start; */
}

/******************* Image block ***********************/

.nftcard-img {
  flex-shrink: 0;
}

.time-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  width: 608px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 20px 74px;
  position: absolute;
  margin: 0 40px 29px;
  bottom: 0px;
}

.time-counter-title {
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

/*  Counter list */
.nftcard-box-timer {
  display: flex;
  gap: 22px;
}

.countdown-item {
  text-align: center;
}

.time-counter-div {
  color: var(--text-color);
  position: relative;
  top: -4px;
}

.countdown-name {
  font-size: 20px;
  line-height: 1.4;
  color: rgb(246, 246, 246);
  text-transform: uppercase;
}

/******************* NFT Details section *******************/

.nftcard-details {
  width: 620px;
  margin-left: auto;
}

.nftcard-details-title {
  text-align: left;
  margin-bottom: 24px;
}

.nftcard-details-text {
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--text-font);
  color: var(--text-color);
  margin-bottom: 20px;
}

.nftcard-details-text::first-letter {
  text-transform: capitalize;
}

.nft-features {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 23px 16px;
}

.nft-feature {
  padding: 20px;
  width: 196px;
  background-color: var(--secondary-color);
}

.nft-category {
  font-size: 16px;
  line-height: 1.63;
  font-family: var(--text-font);
  color: var(--text-color);
  text-transform: capitalize;
}

.nft-feature-var {
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

/********************** NFT price block ******************/

.nft-price {
  display: inline-flex;
  gap: 14px;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1.22;
  text-transform: uppercase;
}

.btn-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
}

.nftcard-box-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.nftcard-media-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid rgb(136, 139, 142);
  padding: 16px 24px;
  font-size: 16px;
  line-height: 1.5;
  flex-basis: 290px;
  text-transform: uppercase;
}

.nftcard-media-btn:active {
  background-color: rgba(255, 255, 255, 0.1);
}

/*********** NFT cards collection section ********************/

.nft-cards-section {
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: var(--main-background-color);
}

.nft-cards.cat-item-collection {
  padding-top: 40px;
  padding-bottom: 30px;
}

.nft-cat-btn-block {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.btn-nft-cat {
  width: 48px;
  height: 48px;
}

.cat-lt-arrow {
  stroke-width: 2;
  stroke: rgb(255, 255, 255);
  padding-bottom: 2px;
}

.cat-gt-arrow {
  stroke-width: 2;
  stroke: var(--secondary-color);
  transform: rotate(180deg);
}

/************************* FAQ Page ******************************/

.q-box {
  margin-top: 100px;
  margin-bottom: 200px;
}

/****************** Contact Us Page *******************/

.contact-info-section {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: var(--main-background-color);
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact-info-option {
  border: 1px solid rgb(67, 67, 67);
  padding: 40px 30px;
  width: 450px;
  text-align: center;
}

.contact-info-icon {
  fill: var(--btn-primary-color);
}

.contact-info-title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1.22;
  text-transform: capitalize;
}
.contact-details {
  font-family: var(--text-font);
  color: var(--text-color);
}

/*****************  Get in touch form section ***************/

.get-intouch-block {
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--main-background-color);
}

.get-intouch-text {
  margin-top: 4px;
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--text-font);
}

.get-intouch-text::first-letter {
  text-transform: capitalize;
}

.get-intouch-form {
  width: 690px;
  margin: 0 auto;
}

.form-block {
  border: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-block-input,
.form-textarea {
  background-color: rgba(194, 195, 197, 0.15);
  padding: 14px 24px;
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.63;
  border: 1px solid transparent;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

.get-intouch-block input[name="name"] {
  width: 240px;
}

.form-textarea {
  height: 150px;
  resize: vertical;
}

.btn-get-intouch {
  margin-top: 20px;
  padding: 12px 36px;
  text-transform: uppercase;
}

/********************** About Us Page ****************************/

.story-section {
  text-align: center;
  background-color: var(--main-background-color);
  padding-top: 100px;
  padding-bottom: 50px;
}

.story-section-text {
  margin-bottom: 40px;
}

.story-section-text::first-letter {
  text-transform: capitalize;
}

.about-counter {
  margin: 0 auto;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.4fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 0;
  width: 395px;
}

/********* about page cards ***************/

.aboutpage-list {
  display: flex;
  gap: 30px;
  list-style-position: inside;
}

.aboutpage-list-item {
  padding: 25px;
  background-color: var(--secondary-color);
  position: relative;
}

.aboutpage-list-item::marker {
  content: counter(list-item, decimal-leading-zero);
  color: rgba(33, 231, 134, 0.3);
  font-size: 80px;
  line-height: 1.2;
}

.aboutpage-list-card {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex-basis: 330px;
  flex-shrink: 0;
  position: relative;
  bottom: 45px;
  margin-bottom: -45px;
}

.aboutpage-list-title {
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.aboutpage-list-description {
  font-family: var(--text-font);
  color: var(--text-color);
}

.about-list-description::first-letter {
  text-transform: capitalize;
}

.about-partners {
  padding-top: 50px;
  padding-bottom: 200px;
  background-color: var(--main-background-color);
}

/************************ BLOG PAGE ****************************/

.blog-page {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: var(--main-background-color);
}

.blogpage-card-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.blogpage-card {
  width: 450px;
  padding: 30px 20px;
  background-color: var(--secondary-color);
  position: relative;
}

.blog-label {
  position: absolute;
  top: 45px;
  right: 35px;
}

.label-deco {
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1.57;
  background-color: var(--btn-primary-color);
  text-transform: uppercase;
}

.blog-data {
  margin-top: 25px;
  margin-bottom: 8px;
  display: flex;
  gap: 6px;
}

.blog-author {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  text-transform: uppercase;
}

.blog-date {
  display: flex;
  gap: 6px;
  padding-left: 6px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  border-left: 1px solid var(--text-color);
  text-transform: uppercase;
}

.person-icon {
  fill: var(--btn-primary-color);
  stroke: var(--btn-primary-color);
}

.calendar-icon {
  fill: var(--btn-primary-color);
  stroke: var(--btn-primary-color);
}

.blogpage-card-title {
  font-size: 36px;
  line-height: 1.22;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.blogpage-card-text {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.blogpage-card-text::first-letter {
  text-transform: capitalize;
}

.blogpage-card-readmore {
  padding: 0 8px;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
}

.blog-pagination {
  background-color: var(--main-background-color);
  padding-bottom: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pagination-page {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 20px;
  line-height: 2.4;
  font-family: var(--text-font);
  border: 1px solid var(--secondary-color);
  padding: 1.5px;
  text-align: center;
}

.pagination-page.active {
  background-color: var(--secondary-color);
  color: var(--btn-primary-color);
}

.pagination-page:hover {
  background-color: var(--secondary-color);
}

/*******************  Blog Article Page ***************************/

.blog-article-content {
  padding-top: 100px;
  padding-bottom: 180px;
  background-color: var(--main-background-color);
}

.blog-article {
  display: flex;
  gap: 60px;
}

/******* Blog article main content block **************************/

.blog-article-section {
  width: 1020px;
}

.blog-article-title {
  margin-top: 30px;
  font-size: 36px;
  line-height: 1.22;
  text-transform: capitalize;
}

.blog-article-label {
  float: inline-end;
  position: relative;
  top: -42px;
}

.blogarticle-data {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--text-font);
  color: var(--text-color);
}

.blogarticle-item,
.blogarticle-date-item {
  display: flex;
  align-items: center;
  gap: 6px;
  text-transform: capitalize;
}

.blogarticle-date-item {
  padding-left: 12px;
  border-left: 1px solid var(--text-color);
}

.blog-story {
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--text-font);
  color: var(--text-color);
}

.blog-story::first-letter {
  text-transform: capitalize;
}

.blog-story-quote {
  margin-top: 24px;
  margin-bottom: 40px;
  padding: 26px 32px;
  border-left: 8px solid var(--btn-primary-color);
  background-color: rgba(33, 231, 134, 0.1);
}

.blog-story-text {
  margin-bottom: 12px;
  font-family: var(--text-font);
  font-size: 24px;
  line-height: 1.25;
}

.blog-story-text::first-letter {
  text-transform: capitalize;
}

.blog-story-rating {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.blog-article-rating {
  font-family: var(--text-font);
  font-size: 14px;
  line-height: 1.57;
  color: var(--text-color);
  display: flex;
  gap: 4px;
}

.blog-quote-author {
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  text-transform: capitalize;
}

.blog-article-sub-imgs {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.blog-sub-article {
  padding-bottom: 20px;
}

.article-block-title {
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 1.4;
  text-transform: capitalize;
}

.article-block-text {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.5;
}

.article-block-text::first-letter {
  text-transform: capitalize;
}

.article-block-text:not(:first-of-type) {
  margin-top: 12px;
}

.blog-tags-share {
  margin-top: 4px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.tags-block,
.share-block {
  display: flex;
  gap: 12px;
  align-items: center;
}

.blog-tags-title {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--btn-header-font);
  text-transform: capitalize;
}

.tags {
  font-family: var(--text-font);
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 12px;
  background-color: rgba(65, 69, 74, 0.4);
  text-transform: uppercase;
}

.share-icon {
  display: block;
}

.blog-article-pages {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.blog-article-mini {
  padding: 21px 20px;
  background-color: var(--secondary-color);
  width: 411px;
  font-family: var(--text-font);
  font-weight: 700;
}

.blogpage-mini-link {
  display: flex;
  gap: 16px;
}

.blog-page-reverse {
  display: flex;
  gap: 16px;
  flex-direction: row-reverse;
  text-align: right;
}

.content-block-title {
  font-size: 18px;
  line-height: 1.56;
  margin-top: 4px;
  text-transform: capitalize;
}

.content-block-text {
  font-size: 14px;
  line-height: 1.57;
  color: var(--text-color);
  text-transform: uppercase;
}

/************* Blog article sidebar form block ***********/

.blog-article-form .search-form,
.blog-filters {
  border: none;
  background-color: var(--secondary-color);
  width: 330px;
}

.blog-article-form .search-form {
  margin-bottom: 21px;
}

.blog-filters {
  margin-bottom: 40px;
}

.blog-filters-list {
  padding: 20px 24px;
}

.sidebar-card-name {
  padding: 16px 24px;
  font-size: 20px;
  line-height: 1.4;
  background-color: var(--secondary-color);
  border-bottom: 1px solid rgb(67, 67, 67);
  width: 100%;
  text-transform: uppercase;
}

.blog-filter-item {
  font-family: var(--text-font);
  font-size: 14px;
  line-height: 1.57;
  color: var(--text-color);
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.filter-categories:checked + .blog-filter-item {
  color: var(--btn-primary-color);
}

/* Blog article sidebar form recent posts block */

.recent-post {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.recent-post-title {
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.recent-post-list {
  display: flex;
  font-family: var(--text-font);
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.5px;
}

.recent-post-item {
  padding-right: 6px;
  text-transform: uppercase;
}

.recent-post-time {
  padding-left: 6px;
  border-left: 1px solid var(--text-color);
  text-transform: capitalize;
}

/* blog filters tags block */

.blog-filters-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 8px;
  padding: 20px 0 20px 24px;
  font-family: var(--text-font);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*  Feedback Form in the Blog Article page */

.feedback-section-title {
  font-size: 36px;
  line-height: 1.22;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.feedback-section-description {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.feedback-section-description::first-letter {
  text-transform: capitalize;
}

.feedback-form input[name="name"],
.feedback-form input[name="phone"] {
  width: 335px;
}
