:root {
  --btn-primary-color: rgba(33, 231, 134, 1);
  --secondary-color: rgba(20, 27, 34, 1);
  --article-bg-color: rgba(255, 255, 255, 0.05);
  --main-background-color: rgb(13, 13, 17);
  --text-color: rgba(194, 195, 197, 1);
  --inactive-color: rgba(136, 139, 142, 1);
  --text-font: "Poppins", sans-serif;
}

/* Uneversal css */

* {
  padding: 0;
  margin: 0;
  background-color: rgba(4, 11, 17, 1);
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 255px;
}

button,
.btn-link,
.btn-border {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  gap: 8px;
  cursor: pointer;
}

span {
  color: var(--btn-primary-color);
}

.secondary-heading {
  font-size: 44px;
  line-height: 56px;
  text-align: center;
}

/* Header styles */

header {
  margin: 30px 0;
}

.logo-block {
  font-size: 32px;
  line-height: 42px;
  gap: 16px;
}

.logo-block img {
  width: 36px;
  height: 40px;
}

/* Header navigation styles */

.nav-menu-items {
  gap: 32px;
}

.nav-menu-item a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 10%;
}

.dropdown img {
  width: 24px;
  height: 24px;
}

.dropdown-content a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 10%;
}

.btn-box {
  gap: 20px;
}

.switch-mode {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  padding: 12px;
  border-radius: 41px;
  background-color: var(--secondary-color);
  border: none;
}

.switch-mode img {
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.header-link {
  background-color: var(--secondary-color);
}

.header-link img {
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.btn-bgcolor {
  border: none;
  background-color: var(--btn-primary-color);
  color: var(--secondary-color);
}

.header-btn img {
  background-color: transparent;
}

/* Hero section */

.hero-box {
  padding-top: 141px;
  /* add img bg  */
  background-color: var(--secondary-color);
}

.hero-box * {
  background-color: transparent;
}

.btn-bgcolor-hero {
  border: none;
  background-color: var(--btn-primary-color);
  color: var(--secondary-color);
}

.hero-content {
  width: 750px;
}

.hero-title,
.hero-title span {
  font-size: 72px;
  line-height: 80px;
}

.hero-text {
  font-family: var(--text-font);
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0 24px;
}

.hero-number {
  font-size: 44px;
  line-height: 56px;
  text-shadow: 0px 4px 13px rgba(255, 255, 255, 0.4);
}

.hero-description {
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
}

.hero-btn {
  margin-top: 48px;
  gap: 24px;
}

.btn-border {
  border: 2px solid var(--btn-primary-color);
}

/*  nft-cards section */

.nft-cards {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
  text-align: center;
}

.nft-card {
  margin: 0 auto;
  width: 330px;
  height: 378px;
  padding: 20px;
  background-color: var(--article-bg-color);
  margin-bottom: 30px;
}

.nft-card * {
  background-color: transparent;
}

.nft-card img {
  width: 330px;
  height: 330px;
  margin: 0 auto;
}

.nft-card-title {
  padding-top: 10px;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
}

/* About section */

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: var(--main-background-color);
}

.about * {
  background-color: transparent;
}

.about h2 {
  margin-bottom: 16px;
}

.about p {
  margin: 0 auto;
  font-family: var(--text-font);
  color: var(--text-color);
  width: 930px;
}

.about-list {
  margin-top: 60px;
  list-style-position: inside;
}

.about-list li {
  margin: 0 auto;
  background-color: var(--secondary-color);
  margin-bottom: 30px;
  width: 570px;
  border-color: transparent;
  transition: all 0.3s ease-in-out;
}

.about-list li::marker {
  content: counter(list-item, decimal-leading-zero);
  color: var(--secondary-color);
  font-size: 80px;
  line-height: 96px;
  text-shadow: 0px 0px 1px var(--btn-primary-color);
}

/* I couldn't add another angle border effect */
.about-list li:hover {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom right,
      rgba(33, 231, 134, 1) 0%,
      rgba(33, 231, 134, 0) 20%
    )
    1;
}

.about-list article {
  padding: 82px 30px 30px;
  text-align: start;
}

.about-list h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 26px;
}

.about-list p {
  width: 510px;
}

/* Workflow section */

.workflow {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
}

.workflow * {
  background-color: transparent;
}

.workflow h2,
.workflow span {
  margin-bottom: 40px;
}

.workflow-cards {
  /* gap: 30px; */
  list-style-position: inside;
  text-align: center;
}

.workflow-card {
  margin: 0 auto;
  background-color: var(--secondary-color);
  margin-bottom: 30px;
  padding: 30px;
  width: 330px;
}

/* Change position of the marker and image */

.workflow-card::marker {
  content: "STEP " counter(list-item);
  font-size: 22px;
  line-height: 30px;
  color: var(--btn-primary-color);
}

.workflow-card img {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

.workflow-card p {
  font-size: 24px;
  line-height: 32px;
  text-wrap: nowrap;
}

.workflow-card:hover {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom right,
      rgba(33, 231, 134, 1) 0%,
      rgba(33, 231, 134, 0) 20%
    )
    1;
}

/* Road Map section */

.roadmap {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
}

.roadmap * {
  background-color: transparent;
}

.roadmap h2 {
  margin-bottom: 60px;
}

.roadmap-card {
  background-color: var(--article-bg-color);
  padding: 48px 43px;
  margin-bottom: 25px;
}

.roadmap-img-box {
  width: 715px;
}

.roadmap-card-title {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 16px;
}

.roadmap-list {
  margin-bottom: 30px;
}

.roadmap-items {
  margin-bottom: 20px;
  /* gap: 12px; */
  font-family: var(--text-font);
  color: var(--text-color);
}

.arrow-greater-btn {
  float: inline-end;
}

.roadmap-nav-item-list {
  margin: 0 auto;
  border-top: 2px solid rgba(67, 67, 67, 1);
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.roadmap-nav-item {
  font-size: 20px;
  line-height: 28px;
}

.roadmap-nav-item img {
  margin: 0 auto;
  display: block;
}

.roadmap-nav-item::marker {
  content: "PHASE " counter(list-item);
  color: var(--inactive-color);
}

.roadmap-nav-item.active::marker {
  color: rgba(255, 255, 255, 1);
}

/* Team section */

.team {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
}

.team * {
  background-color: transparent;
}

.team h2 {
  margin-bottom: 60px;
}

.team-card {
  margin: 0 auto;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 40px 20px;
  width: 330px;
  height: 339px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.team-card:hover {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom right,
      rgba(33, 231, 134, 1) 0%,
      rgba(33, 231, 134, 0) 20%
    )
    1;
}

.team-card h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 31px;
  margin-bottom: 4px;
}

.team-card p {
  font-family: var(--text-font);
  color: var(--text-color);
  margin-bottom: 26px;
}

.team-card ul {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* Partners section */
.partners {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
}

.partners * {
  background-color: transparent;
}

.partners h2 {
  margin-bottom: 58px;
}

.partners-cards {
  text-align: center;
}

/* FAQs section */

.faq-box {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-background-color);
}

.faq-box * {
  background-color: transparent;
}

.faq-box h2 {
  margin-bottom: 60px;
}

.faq-box details {
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 30px 20px;
  width: 930px;
  margin-bottom: 24px;
}

.faqs-name {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 16px;
  color: rgba(194, 195, 197, 1);
  list-style: none;
}

.faqs-name::after {
  content: url(../img/btn-icons/Plus.svg);
  float: right;
}

.faqs-card[open] .faqs-name {
  color: rgba(255, 255, 255, 1);
}

.faqs-card[open] .faqs-name::after {
  content: url(../img/btn-icons/Minus.svg);
}

.faqs-content {
  font-family: var(--text-font);
  color: var(--text-color);
  border-top: 1px solid rgba(67, 67, 67, 1);
  padding-top: 16px;
}

/* Footer */

footer {
  padding-top: 50px;
}

footer * {
  background-color: transparent;
}

/*  call-action section */

.call-action {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.call-action p {
  font-family: var(--text-font);
  color: var(--text-color);
  margin-top: 8px;
  margin-bottom: 40px;
}

.footer-btn-box {
  margin-bottom: 40px;
}

.btn-footer {
  background-color: rgba(88, 101, 242, 1);
}

/* social-networks Footer */

.network-item {
  margin: 0 auto;
  background-color: rgba(194, 195, 197, 0.15);
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.network-item img {
  display: block;
  margin: 0 auto;
  padding: 14px 10px;
  width: 26px;
}

/* footer-nav section */

.footer-border {
  border-top: 1px solid rgba(67, 67, 67, 1);
  padding: 19px 0;
}

.footer-logo {
  font-size: 22px;
  line-height: 30px;
  gap: 16px;
}

.footer-logo img {
  width: 24px;
  height: 26px;
}

.footer-logo-box p {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

/* Footer Pages */

.nav-pages-item a {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 14px;
  line-height: 22px;
  text-align: right;
}

/************************* Catalog Page **************************/

/* Breadcrumbs */

.breadcrumbs {
  background-color: var(--secondary-color);
  padding-top: 77px;
  padding-bottom: 77px;
  text-align: center;
}

.breadcrumbs * {
  background-color: transparent;
}

.breadcrumbs ul {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.breadcrumbs a {
  padding: 0 8px;
}

.breadcrumbs a,
.breadcrumbs span {
  font-size: 14px;
  line-height: 20px;
  justify-content: center;
}

.inactive-link a {
  color: var(--inactive-color);
  border-right: 2px solid var(--inactive-color);
}

/* NFT Collection */

.nft-collection {
  background-color: var(--main-background-color);
  padding-top: 100px;
  padding-bottom: 200px;
}

.nft-collection h2 {
  text-align: left;
  margin-bottom: 40px;
  background-color: transparent;
}

/* Call Action section - coloful */

.CTA-section {
  background-color: var(--secondary-color);
}

.call-action-catalog {
  background-color: var(--secondary-color);
  position: relative;
  top: -100px;
  margin: 0 255px;
  padding: 40px 0 48px;
  border-radius: 8px;
  background: linear-gradient(
    to left,
    rgba(35, 51, 222, 1),
    rgba(10, 190, 102, 1)
  );
}

.catalog-cta-title {
  background-color: transparent;
}

.catalog-cta-text {
  margin-top: 4px;
  margin-bottom: 22px;
  text-align: center;
  font-family: var(--text-font);
  color: rgba(247, 247, 249, 1);
  background-color: transparent;
}

.cta-catbtn-box {
  text-align: center;
  background-color: transparent;
}

.cta-btn-link {
  padding: 12px 24px;
  background-color: rgba(88, 101, 242, 1);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.cta-btn-link img {
  background-color: transparent;
  width: 24px;
}

/* Footer */

.catalog-footer {
  background-color: var(--secondary-color);
  padding-top: -40px;
}

.catalog-footer-logobox {
  width: 324px;
  margin-bottom: 156px;
}

.footer-cat-logo {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 12px;
}

.footer-cat-logo img {
  width: 32px;
  height: 36px;
}

.catalog-footer-logobox p {
  font-size: 16px;
  line-height: 26px;
  font-family: var(--text-font);
}

/* Sitemap section */

.sitemap-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.sitemap-list li {
  margin-bottom: 16px;
}

.sitemap-list a {
  font-family: var(--text-font);
  font-size: 14px;
  line-height: 22px;
  color: var(--text-color);
}

/* Footer Copyright section in catalog   */

.footer-copyright {
  border-top: 1px solid rgba(67, 67, 67, 1);
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-copyright h2 {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.network-item-cat {
  background-color: transparent;
}

.network-item-cat img {
  width: 20px;
}

/***************** Catalog Item page *****************************/

.nft-cards-title {
  background-color: transparent;
  margin-bottom: 40px;
}

/* NFT card item */

.nftcard-box {
  padding-top: 100px;
  background-color: var(--main-background-color);
}

.nftcard-box * {
  background-color: transparent;
}

/* Image block */

.nftcard-img img {
  width: 690px;
  height: 690px;
}

.time-counter {
  width: 608px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 20px;
}

.time-counter-title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 12px;
}

.nftcard-box-timer dt {
  text-align: left;
}

.time-counter-span {
  text-align: right;
  color: var(--text-color);
  margin-left: 20px;
}

.nftcard-box-timer dd {
  font-size: 20px;
  line-height: 28px;
  color: rgba(246, 246, 246, 1);
  text-align: left;
}

/* NFT Details section */

.nftcard-details {
  width: 620px;
}

.nftcard-details-title {
  text-align: left;
  margin-bottom: 24px;
}

.nftcard-details p {
  font-size: 20px;
  line-height: 30px;
  font-family: var(--text-font);
  color: var(--text-color);
  margin-bottom: 20px;
}

.nft-features {
  margin-bottom: 30px;
}

.nft-features dt {
  font-size: 16px;
  line-height: 26px;
  font-family: var(--text-font);
  color: var(--text-color);
  width: 196px;
  padding: 20px 20px 4px 20px;
  background-color: var(--secondary-color);
}

.nft-features dd {
  font-size: 24px;
  line-height: 30px;
  padding: 0 20px 20px 20px;
  background-color: var(--secondary-color);
  width: 196px;
  margin-bottom: 20px;
}

/* NFT price block */

.nft-price dt,
.nft-price span {
  font-size: 36px;
}

.nft-price {
  margin-bottom: 40px;
}

.btn-nftcard-buy {
  display: block;
  padding: 16px 24px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 24px;
  background-color: var(--btn-primary-color);
  text-align: center;
}

.btn-nftcard-buy img {
  width: 20px;
  height: 20px;
}

.nftcard-box-btns {
  text-align: center;
  margin-top: 24px;
  /* margin-bottom: 13px; */
  width: 100%;
}

.nftcard-box-btns a {
  display: inline-block;
  border: 2px solid rgba(136, 139, 142, 1);
  padding: 16px 24px;
  font-size: 16px;
  line-height: 24px;
  width: 40%;
}

.nftcard-box-btns img {
  width: 24px;
}

/* NFT cards collection section */

.nft-cat-btn {
  width: 48px;
  height: 48px;
  padding: 5px;
  text-align: center;
  font-size: 40px;
  font-family: var(--text-font);
}

.nft-cat-ltbtn {
  border: 1px solid var(--btn-primary-color);
}

.nft-cat-gtbtn {
  background-color: var(--btn-primary-color);
  color: var(--secondary-color);
  border: none;
}

.nft-cards-section {
  padding-bottom: 200px;
}

/************************* FAQ Page ******************************/

.faq-page {
  padding-top: 100px;
  padding-bottom: 180px;
}

/********************** Contact Us Page ****************************/

.contact-info {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: var(--main-background-color);
}

.contact-info * {
  background-color: transparent;
}

.contact-info li {
  border: 1px solid rgba(67, 67, 67, 1);
  margin-bottom: 30px;
  padding: 40px 30px;
  width: 33%;
  text-align: center;
}

.contact-info img {
  width: 56px;
  height: 56px;
}
.contact-info h2 {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 44px;
}
.contact-info a {
  font-family: var(--text-font);
  color: var(--text-color);
}

/*  Get in touch form section */

.get-intouch-block {
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--main-background-color);
}

.get-intouch-block * {
  background-color: transparent;
}

.get-intouch-block h2 {
  margin-bottom: 4px;
}

.get-intouch-block p {
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 30px;
  font-family: var(--text-font);
}

.get-intouch-block form {
  width: 690px;
  margin: 0 auto;
}

.get-intouch-block input,
.get-intouch-block textarea {
  background-color: rgba(194, 195, 197, 0.15);
  padding: 14px 24px;
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 26px;
  border: none;
  margin-bottom: 20px;
  /* temporary display and width for better viewing */
  display: block;
  width: 100%;
}

input[type="text"] {
  background-color: rgba(194, 195, 197, 0.15);
}

.get-intouch-block button {
  margin-top: 40px;
  padding: 12px 36px;
}

/********************** About Us Page ****************************/
